body {
  background-color: rgb(56, 55, 55);
}
.button-container {
  display: flex;
margin: 3px 8px;
}
#calculator {
border: 2px solid rgb(30, 29, 29);
background-color:  rgb(28, 23, 23);
height: fit-content;
width: 160px;
border-radius: 10px;
}
#display{
height: 80px;
width: 143px;
padding: 9px;
background-color:  rgb(28, 23, 23);
color: white;
border: none;
border-radius: 3px;
}
#display:focus{
  outline: none;
}
.button {
  height: 31px;
  width: 31px;
  margin: 1px 1px;
  padding: auto;
  border: none;
  border-radius: 5px;
  background-color: rgb(30, 29, 29);
  color: white;
}
.calculate {
  height: 65px;
  width: 30px;
  margin: 1px 2px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
}
.primary-button {
   height: 30px;
   width: 30px;
   margin: 2px 2px; 
   border: none;
   border-radius: 3px;
   background-color:  rgb(30, 29, 29);
   color: white;
}
#divide {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}
#divide:hover {
  background-color: white;
  color: black;
}
#multiple {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}
#multiple:hover {
  background-color: white;
  color: black;
}
#subtract {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}
#subtract:hover {
  background-color: white;
  color: black;
}
#plus {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}
#plus:hover {
  background-color: white;
  color: black;
}
#equals {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}
#equals:hover {
  background-color: white;
  color: black;
}